body{
	background:#FFFACD;
}

h1{
    text-align: center;
}

div{
    text-align:center;
}

nav a{
    padding: 20px;
    color: white
}

.album{
    border:solid;
    width:260px;
}

nav a:hover{
    color:green
}
nav{
    background-color: #333;
    padding: 20px 0px 20px 0px
}

.gallery{
    padding: 30px 0px 0px 0px;
}

.gallery img{
    width:300px;
    height:200px;
}

#gallery2{
    float: right;
    margin-right:30px
}

#gallery1{
    float: left;
    margin-left:30px;
}

#gallery3{
    float: right;
    margin-right:30px;
}

#gallery4{
    float: left;
    margin-left:30px;
}