<div class="container">
  <div class = row>
    <div class="input-field col m12">
      <form action="/" method="POST">
        <i class="material-icons prefix">book</i>
        <input id="icon-prefix" name="query" placeholder="Enter a Book Title"/>
        <button class="waves-effect waves-light btn-small">Search</button>
      </form>
    </div>
  </div>
</div>