
<div class="container">

<div class="row">
    <h2>Let the New York Post know what you think about the 2109 Presidential Campaign</h2>
</div>
  <div class ="row">
    <div class="input-field col m12">
      <form action="/" method="POST" id="form">
        <input name="name" placeholder="First Name"/>
        <textarea name="comment"placeholder="Enter Comment Here...." class="materialize-textarea"></textarea>
        <button class="waves-effect waves-light btn-small">Search</button>
      </form>
    </div>
  </div>

<div class="row">
    <div class="col m6">
        <img class="responsive-img" src="./images/wendy.jpg">
     </div>
    <div class="col m6">
        <img class="responsive-img" src="./images/ronald.png">
    </div>
</div>
</div>